<div class="file-view-container" *ngIf="bitstream">
  <h5 class="file-title">{{ dsoNameService.getName(bitstream) }}</h5>

  <!-- File preview section -->
  <div class="file-preview">
    @if (isPdf) {
      <!-- PDF preview -->
      <ngx-extended-pdf-viewer 
        [src]="fileUrl"
        useBrowserLocale="true"
        height="600px"
        class="pdf-viewer">
      </ngx-extended-pdf-viewer>
    } @else if (isImage) {
      <img [src]="fileUrl" alt="Preview of {{ dsoNameService.getName(bitstream) }}" class="img-fluid rounded shadow">
    } @else if (isAudio) {
      <audio [src]="fileUrl" controls class="w-100"></audio>
    } @else if (isVideo) {
      <video [src]="fileUrl" controls class="w-100 rounded"></video>
    } @else {
      <p class="text-muted">{{ 'file-view.no-preview' | translate }}</p>
    }
  </div>

  <!-- Download button -->
  <!-- <div class="mt-3">
    <ds-file-download-link 
      [bitstream]="bitstream"
      [item]="item"
      [showIcon]="true"
      cssClasses="btn btn-primary">
      {{ 'file-view.download' | translate }}
    </ds-file-download-link>
  </div> -->
</div>
