<div class="viewer-shell">
  <!-- <div *ngIf="loading" class="status">Loading…</div> -->
  <div *ngIf="error" class="status error">Error loading PDF</div>

  <div class="viewer-content" *ngIf="!error">
    <!-- LEFT: Metadata -->
    <div class="metadata-panel">
      <div *ngIf="metadataObj?.length > 0; else noMetadata">
        <h3>File Details</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Label</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mdEntry of metadataObj">
              <td>{{ mdEntry.label }}</td>
              <td>
                <ng-container *ngFor="let val of mdEntry.value; let last = last">
                  {{ val.value }}<span *ngIf="!last">, </span>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noMetadata>
        <p>No metadata available.</p>
      </ng-template>

      <div class="pdf-controls" *ngIf="fileUrl">
        <button class="btn btn-primary mt-3 w-100" (click)="downloadPdf()">
          Download PDF
        </button>
      </div>
    </div>

    <!-- RIGHT: PDF -->
    <div class="pdf-panel" *ngIf="fileUrl">
      <div
        class="scale-wrapper"
        [style.transform]="'scale(' + zoomLevel + ')'"
        style="transform-origin: top left; width: 100%; height: 100%;"
      >
        <iframe [src]="fileUrl" class="pdf-iframe" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>