<ds-search [showCsvExport]="true" [trackStatistics]="true"></ds-search>
<!-- <div class="search-form">
  <input type="text" placeholder="Case Number" [(ngModel)]="caseNumber">
  <input type="text" placeholder="Case Type" [(ngModel)]="caseType">
  <input type="text" placeholder="Case Year" [(ngModel)]="caseYear">
  <button (click)="searchCases()">Search</button>
</div>

<div class="search-results">
  <div *ngFor="let result of results">
    <p>{{ result.indexableObject?.metadata['dc.title'][0]?.value }}</p>
  </div>
</div> -->
